<h1> Main Characters  </h1>

<img src="/tyrion_thrones.jpg">
<h2> Tyrion Lannister/The halfman </h2>
<form action="/add" method="post">
	Submit <input type="submit">
</form>

<img src="/robb_thrones.jpg">
<h2> Robb Stark/King of the North </h2>

<img src="/khaleesi_game_of_thrones.jpg">
<h2>Daenerys_Targaryen/Khaleesi/Mother of Dragons</h2>

<img src="/snow_thrones.jpeg">

<h2>Jon Snow</h2>

