<a href="/about">About the Show</a>
<a href="/characters">Characters</a>

<h1> Game of Thrones </h1>

<h2>Welcome to King's Landing! The capitol of the seven kingdoms</h2>

<img src="/khaleesi_thrones.jpg">


