<h1>Sell your stuff!</h1>

<p> Unload all that excess baggage here! Welcome to Greg's casbah! Tell us what you got:</p>


<form action'/create' method = 'post'>
	Item: <input name='item'>
	Price: <input name = 'price'>
	Location: <input name = 'location'>
</form>

<button>Submit</a></button>



