<h1>About the Manual Enrollment App</h1>

This app is designed for a health exchange operations team to quickly and easily collect the data for manual enrollments. 
<br><br>
Future steps include: <br><br>
1) Generating XML change vocabularies using JSON. <br>
2) Listing full lists of plan selections. <br>
3) Automatically generating member and enrollment IDs.<br>
4) Loading the generated XML into the EDI loading code and transmitting it. <br>