<h1>The Manual Enrollment App!</h1><br><br>

<a href='/about'>About</a><br><br>
<a href='enroll'>Enroll Someone</a><br><br>
<a href='all_enroll'>Everyone You've Enrolled</a><br><br>
<a href='analytics'>Here's some analytics!</a><br><br>