<p>
<img src="http://www.picgifs.com/clip-art/cartoons/scooby-doo/clip-art-scooby-doo-193082.jpg">
</p>

<form action="/guess" method="get">
	<label>Who do you think the villain is?
	<input type="text" name="villain">
	</label>

	<input type="submit">
</form>