<h1>Show My Entry</h1>
<a href="/entries">See all of the Entries! :)</a>

<h1><%= @entry.author %> posted at <%= @entry.date_taken %> and said <%= @entry.caption %></h1>
<img src="<%= @entry.photo_url %>">
