<html>
<head>
  <title>Ninety-Nine Bottles</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>

  <h1>
  	Take one down, pass it around,
  	<%= @next_bottles %> bottles of beer on the wall.
  </h1>

  <a href="/verse/<%= @next_bottles %>">Keep Singing</a>

  	<p>
		<% @next_bottles.times do %>
	  		<img src="/bottle.png">
		<% end %>
	</p>

</body>
</html>