<html>
<head>
	<title>Zohebstagram</title>
</head>

<body>
	<h1>Add a new photo!</h1>
	<form action='/entries' method="post">
		Photo author: <input type="text" name="author"><br>
		Date Taken: <input type="date" name="date_taken"><br>
		Link to the Image:<input type="text" name="photo_url"><br>
		<input type="submit" value="Add your picture!"><br><br><br>
	</form>

	<a href='/entries'>Index</a> |
	<a href='/new'>Add a new picture</a> |
	<a href='/show'>Go to a specific picture</a>

</body>

</html>