<div class="content">
	<h2>Mount Everest: The highest</h2>

	<img src="http://static.apparata.nl/images/2013/Mount-Everest-4G-dekking.jpg">

	<p>Mount Everest, also known in Nepal as Sagarmāthā and in Tibet as Chomolungma, is Earth's highest mountain. It is located in the Mahalangur section of the Himalayas. Its peak is 8,848 metres (29,029 ft) above sea level and is the 5th furthest summit from the center of Earth. The international border between China and Nepal runs across the precise summit point.</p>

	<p><a href="http://en.wikipedia.org/wiki/Mount_Everest" target="_blank">Read more...</a></p>
</div>