<div class="content">
	<h2>K2: The Savage Mountain</h2>

	<img src="http://news.uniquepakistan.com.pk/wp-content/uploads/2014/07/1136-550x300.jpg">

	<p>K2, also known as Chhogori/Qogir, Ketu/Kechu, and Mount Godwin-Austen, is the second highest mountain in the world at 8,611 metres (28,251 ft), after Mount Everest. It is located on the border between Baltistan, in the Gilgit–Baltistan region of northern Pakistan, and the Taxkorgan Tajik Autonomous County of Xinjiang, China.</p>

	<p><a href="http://en.wikipedia.org/wiki/K2" target="_blank">Read more...</a></p>
</div>