<div class="content">
	<h2>Kanchenjunga: The third highest</h2>

	<img src="http://media-cdn.tripadvisor.com/media/photo-s/03/21/f6/29/kanchenjunga-mountain.jpg">

	<p>Kangchenjunga is the third highest mountain in the world. It rises with an elevation of 8,586 m (28,169 ft) in a section of the Himalayas called Kangchenjunga Himal that is limited in the west by the Tamur River and in the east by the Teesta River.</p>

	<p><a href="http://en.wikipedia.org/wiki/Kangchenjunga" target="_blank">Read more...</a></p>
</div>