<div id="index">
	<h1>Welcome to Steve's Hypercars!!!</h1>

	<p>Click the links below to see the three newest hypercars to hit the market!!!</p>

	<button><a href="/laferrari">Ferrari LaFerrari</a></button>

	<button><a href="/p1">McLaren P1</a></button>

	<button><a href="/p918">Porsche 918</a></button>
</div>