<div id="pages">

	<h1>Ferrari LaFerrari</h1>

	<br>

	<a href="/"><button>Home</button></a>

	<br>
	<br>
	<br>

	<img src="http://buyersguide.caranddriver.com/media/assets/submodel/4733.jpg">

</div>