<div id="pages">

	<h1>McLaren P1</h1>

	<br>

	<a href="/"><button>Home</button></a>

	<br>
	<br>
	<br>

	<img src="http://thextremexperience.com/wp-content/uploads/2014/01/mclaren-p1-xl.jpg">

</div>