<h1>Add an Item</h1>

<form action="/create" method="POST">
	Item:<input type="text" name="item"><br>
	Price:<input type="number" name="price"><br>
	Location<input type="text" name="location"><br>
	<input type="submit" name="submit">
</form>