<h1>Welcome to Propaganda Watch!</h1>
<br>
<p>Help us spot propaganda masquerading as news!</p>

<p>Just head over to our handy <a href="/articles/new.html.erb">entry form</a> and add links to any stories you think fit the bill, along with a couple sentences of your own analysis.

<br>
	<em><a href="/../about.html.erb">About us</a>
