<h1>Click for dogs!!!</h1>

<div class="button">
	<a href="/dogs"><button class="btn">PUPPIES!!</button></a>
</div>

<div>
	<img src="http://wac.9ebf.edgecastcdn.net/809EBF/ec-origin.dmv.barstoolsports.com/files/2015/02/6a00d8341bfd0953ef0148c793026c970c.gif" alt="puppies">
</div>
