<!DOCTYPE html>
<html>
<head>
  <title>InstagramApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'> 
</head>
<body>
<h1>Instagram?</h1>
<%= yield %>

</body>
</html>
