<h1>Check out all these beautiful users</h1>

<p> 
	Select a user below to see their image!</p>

<ul>
<% @users.each do |person| %>
	<li><a href="/users/<%= person.id %>"><%= person.author %></a></li>
<% end %>

</ul>