<h1>Add a new user</h1>

<form action="/users" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>
    Name:
    <input type="text" name="author" />
  </label>

  <label>
    Image URL:
    <input type="text" name="photo_url" />
  </label>

 
  <button>Submit!</button>
</form>