<h1>Create a new Puppy!</h1>
<p> Got a hound you'd like to put up for adoption? Give us the deets here:</p.
	<br>
	<form action="/dogs" method="POST">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		<label>
			Name:
			<input type="Text" name="name" />
		</label>

		<label>
			Image URL:
			<input type="text" name="image_url" />
		</label>

		<label>
			Age:
			<input type="integer" name="age" />
		</label>

		<button>Submit!</button>
	</form>