<h1>Search for Gifs</h1>

<form action="/search" method="get">
	<label>Search: <input name="search"></label>
	<button>Submit</button>
</form>

<ul>
<% @results.each do |result| %>
	<li><a href="/search/<%= result['id'] %>"><img src=<%= result['images']['fixed_width']['url'] %>></a></li>
<% end %>
</ul>