

	<h1>The Scooby Doo Gang!</h1><br><br>
	<img src='http://cdn.instructables.com/FVY/V2NW/HEBN9EWK/FVYV2NWHEBN9EWK.MEDIUM.jpg'><br><br>
	The purpose of this game is to guess the villain! If you guess the villain, you win! 
	<br><br>
	<a href=/index.erb>Back to the Game!</a>

