<html>
<head>
  <title>Ninety-Nine Bottles</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>

<% yield %>

	<p><% @bottles.times do %>
<img src = "/bottle.png">
<% end %></p>


</body>
</html>