

  <h1>
  	Take one down, pass it around 
  	<%= @next_bottles %> bottles of beer on the wall,
  	 <%= @next_bottles %> bottles of beer . . . </h1>




<a href ="/verse/<%= @next_bottles %>">Keep Singing</a>

