<h1>Add a new dog!</h1>

<form>
	The dog's name is...<input type=text name="name">.<br><br>
	The dog's age is...<input type=text name="age">.<br><br>
	The dog's picture can be found at...<input type=text name="url">.<br><br>
	<input type="submit" value="Create my new dog!">
	
</form>