<h2>Items</h2>

<table>
	<thead>
		<tr>
			<th>Item</th>
			<th>Price</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<% @list.each do |data| %>	
		<tr>
			<td><%= data %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<button><a href="/new">Add Item</a></button>
<button><a href="/deals">Take me to the Deals!</a></button>