<h1>What movie are you looking for?</h1>

<form action="/movies" method=get>
  <label>Search: 
  <input name="search"> </label>
  <button>Search</button>
</form>

 <ul>
  <% @results.each do |result| %>
    <li><a href="/movies/<%= result['imdbID'] %>"><%= result['Title'] %></a></li>
  <% end %>
 </ul>
