<img src="http://images.starpulse.com/Photos/Previews/Scooby-Doo-tv-01.jpg">

<form action="/guess" method="get">
<label> Who do you think the villain is? 
	<input type="text" name="villain">
</label>
<input type="submit">

</form>