<h2>Items</h2>

<table> 
	<thead>
		<tr>
			<th scope="col">Item</th>
		    <th scope="col">Price</th>
		    <th scope="col">Location</th>
		</tr>
	</thead>
	<tbody>
		<% @list.each do |glist|%>
		<tr>
			<td><%= glist[:item] %></td>
			<td><%= glist[:price] %></td>
			<td><%= glist[:location] %></td>
		</tr>
		<% end %>	
	</tbody>
</table>

<button><a href='/new'>Add New Items</a></button>
<button><a href='/deals'>See Deals!</a></button>
