<form action="/create" method="post">
	<label>Item: <input name="item"></label>
	<label>Price: <input name="price"></label>
	<label>Location: <input name="location"></label>
	<button>Submit</button>
</form>
