<h2>Add a new item</h2>

<form action="/create" method="post">
	<p><label>Item: <input name="item"></label></p>
	<p><label>Price: <input name="price"></label></p>
	<p><label>Location: <input name="location"></label></p>
	<button>Submit</button>
</form>