/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
--------------------------------------------------
CSS Reset - by Eric Meyer
--------------------------------------------------
*/
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, /*sup,*/ tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
--------------------------------------------------
Custom Stylesheet - Layout
--------------------------------------------------
*/

/** {
	border: 1px solid red !important;
}*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background: #f6f6f6;
	font: 16px/24px "Lato", Helvetica, Arial, sans-serif;
}
header {
	padding: 10px 20px;
	border-bottom: 1px solid #08699D;
}
footer {
	padding: 10px 20px;
	border-top: 1px solid #08699D;
}
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear:both;
}
.group {
	clear:both;
	*zoom: 1;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.row {
	padding-top: 10px;
	min-width: 80%;
	background: #fff;
}
.home_photo_box {
	width: 28%;
	margin: 1.5%;
	display: block;
	float: left;
}
.home_photo_box img {
	width: 100%;
	display: inline-block;
	/*border: 3px solid blue;*/
}

/*
--------------------------------------------------
Custom Logo Styles
--------------------------------------------------
*/
h1 {

}
h2 {
	font: 24px/36px "Lato", Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	font-weight: 400;
}
.logo_position {
	margin: 10px 0 10px 20px;
	float: left;
}
.logo_letter {
	float: left;
	background-color: #08699D;
	color: #e6e6e6;
	font: 24px/32px "Fredoka One", Helvetica, Arial, sans-serif;
	height: 1.5em;
	width: 1.5em;
	text-align: center;
	border: 3px solid #e6e6e6;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0.14em #08699D;
}
.logo_word {
	padding-left: 3px;
	font: 24px/34px "Fredoka One", Helvetica, Arial, sans-serif;
	display: inline;
}
#sup_logo {
	font: 12px/16px "Fredoka One", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: red;
}
.logo_position a {
	text-decoration: none;
	color: black;
}
.logo_position a:hover {
	color: #F78600;
	text-decoration: none;
}
.logo_position a:hover .logo_letter {
	background-color: #F78600;
	box-shadow: 0px 0px 0px 0.13em #F78600;
}


/*
--------------------------------------------------
Custom Navigation Styles
--------------------------------------------------
*/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #F78600;
}
a:hover img {
	padding: 1px;
	border: 2px solid #F78600;
}
.nav {
	float: right;
	margin: 20px 50px 0 0;
}
.nav li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}
.primary_nav {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
}
.nav a {
	text-decoration: none;
	color: black;
	font-weight: 100;
}
.nav a:hover {
	text-decoration: underline;
	color: #F78600;
}


/*
--------------------------------------------------
Custom Footer Styles
--------------------------------------------------
*/
small {
	float: left;
	padding: 0 50px 40px 0;
	font: 16px/22px "Fredoka One", Helvetica, Arial, sans-serif;
}


/*
--------------------------------------------------
Custom Show Styles
--------------------------------------------------
*/
.show_container {
	width: 65%;
	margin: 0 auto;
}
.show_photo {
	float: left;
	padding: 40px 0;
}
.show_photo img {
	width: 100%;
}
.show_info {
	width: 40%;
	float: left;
	padding: 40px 0 40px 20px;
}
.show_caption {
	padding: 5px 0 20px 5px;
	margin-bottom: 20px;
	font-size: 24px;
	border-top: 6px solid #e6e6e6;
	text-align: left;
}
.show_author {
	padding: 5px 0 10px 5px;
	margin-bottom: 30px;
	border-top: 2px solid #e6e6e6;
	/*border-left: 3px solid #e6e6e6;*/
}
.show_taken_on {
	padding: 5px 0 10px 5px;
	margin-bottom: 30px;
	border-top: 2px solid #e6e6e6;
	/*border-left: 3px solid #e6e6e6;*/
}
.show_uploaded {
	padding: 5px 0 10px 5px;
	margin-bottom: 30px;
	border-top: 2px solid #e6e6e6;
	/*border-left: 3px solid #e6e6e6;*/
}


/*
--------------------------------------------------
Custom Upload Styles
--------------------------------------------------
*/
.upload_row {
	padding: 70px 0;
	min-width: 80%;
	background: #fff;
}
.upload_container {
	width: 50%;
	margin: 0 auto;
}
.upload_container h2 {
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
}
.upload_list li {
	padding: 20px 0;
}
.upload_label {
	width: 100px;
	float: left;
	padding: 2px 0;
}
.upload_input {
	float: left;
	font: 16px/24px;
	width: 250px;
	height: 22px;
	border: 1px solid #e6e6e6;
	border-radius: 7px;
}
.upload_button {
	float: left;
	width: 150px;
	font-size: 18px;
	letter-spacing: 0.05em;
	color: white;
	margin: 20px 0 0 50px;
	text-transform: uppercase;
	border-radius: 0.5rem;
	border: 0px;
	background-color: #49AA5A;
	box-shadow: 0 0.25em #2B823A;
	cursor: pointer;
}


/*
--------------------------------------------------
Custom Error Styles
--------------------------------------------------
*/
.errors {
	padding-top: 50px;
	color: red;
}


/*
--------------------------------------------------
Custom Welcome, About & FAQ Styles
--------------------------------------------------
*/
.welcome_container {
	width: 50%;
	margin: 50px auto;
}
.welcome_container a {
	text-decoration: underline;
}
.about_container {
	width: 50%;
	margin: 20px auto 50px auto;
}
.about_container p{
	padding: 15px 0;
}
.faq_container {
	width: 50%;
	margin: 20px auto 50px auto;
}
.faq_container p {
	padding: 15px 0;
}




