<a href="/index">Home</a>

<h1> About the Show! </h1>

<p> 
Game of Thrones are a series of fictional books that were subsequently made into a television series.
</p>

<p>
It is considered by many to be the greatest show ever created.
</p>