<body>

 <h1>HOT DEALS</h1>

<table class="reference" style="width:100%">
	<tr>
		<th>Item</th>
		<th>Price</th>
		<th>Location</th>		
	</tr>
		<% @deals.each do |deal_item| %>
	<tr>

		<td><center><%= deal_item[:item] %> </center></td>
		<td><center><%= deal_item[:price] %> </center></td>
		<td><center><%= deal_item[:location] %> </center></td>

	</tr>	
		<% end %>
</table>



<button><a href='/'>Take me Home</a></button>

</body>
