<body>

  <h1>Philist For Sale</h1>

<form action= "/create" method="post">
	<label> Item:<input type="text" name="item"></label>
	<label> Price:<input type="number" name="price"></label>
	<label> Location:<input type="text" name="location"></label>
		<button>Submit</button>
</form>

</body>