<h1>About</h1>
<p>
	<center>
  	<a href="http://www.generalassemb.ly"><em>General Assembly</em></a> is a school
  	to teach web development to <em>Noobs</em>.
  </center>
 </p>
 <p>
  	<center>
  	<image src="http://www.redesignrevolution.com/wp-content/uploads/2014/10/golden-retriever.jpg">
  
  	</center>
</p>


