<div class="center jumbotron">
  <h1>Welcome to the Class 09 HW App</h1>

  <h2>
    This App is powered by the minds of 
    <a href="http://www.generalassemb.ly/">General Assembly</a>
  </h2>


<p><center><image src="http://hongkong.startupweekend.org/files/2013/10/ga_logo_1021.jpg"></center></p>


