<html>

<body>
	<h1>For Sale in the Washington, DC Metro Area</h1>

<form action= "/create" method="post">
	<label> Item:<input type="text" name="item"></label>
	<label> Price:<input type="number" name="price"></label>
	<label> Location:<input type="text" name="location"></label>
		<button>Post to Greg's List</button>
</form>

</body>
<html>