<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Nikki | Cat Enthusiast</title>
    <link rel="stylesheet" href="/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script%7cGentium+Basic:400,400italic,700,700italic" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="/" id="logo">
        <h1>Nikki</h1>
        <h2>Cat Enthusiast</h2>
      </a>
      <nav>
        <ul>
          <li><a href="/" class="selected">Home</a></li>
          <li><a href="/didi">Didi</a></li>
          <li><a href="/tomwaits">Tom Waits</a></li>
          <li><a href="/stormy">Stormy</a></li>
        </ul>
      </nav>
    </header>

      <%= yield %>
      
    <footer>
      <a href="http://twitter.com/NikkiLizMurray"><img src="img/twitter-wrap.png" alt="Logo" class="social-icon"></a>
      <p>&copy; 2014 Nikki.</p>
    </footer>
    
    
    
  </body>
  

</html>