<h1>Music Search</h1>

<form path="/search" method="get">
  <p><label>Search Term <input name="term"></label></p>
  <button>Search</button>
</form>

<% if @results.any? %>
  <h2>Results</h2>
  <table>
  <% @results.each do |result| %>
    <tr>
      <td><img src="<%= result['artworkUrl60'] %>"></td>
      <td><h3><%= result['artistName'] %></h3><%= result['trackName'] %></td>
      <td><audio controls src="<%= result['previewUrl'] %>"></td>
    </tr>
  <% end %>
  </table>
<% end %>