<h1> Post a new picture! </h1>

<form action="/entries" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>
    User Name:
    <input type="text" name="author" />
  </label>

  <label>
    Photo URL:
    <input type="text" name="photo_url" />
  </label>

  <label>
    Date Taken:
    <input type="text" name="date_taken" />
  </label>

  <button>Submit!</button>
</form>