<html>
<head>
	<title>Gregslist!</title>
</head>

<body>
<h1 align="center">Gregslist!</h1>
<table align="center" border="1">
	<tr>
		<td>Item</td>
		<td>Price</td>
		<td>Location</td>
	</tr>
	<tr>
		<td><% params[:item] %></td>
		<td><% params[:price] %></td>
		<td><% params[:location] %></td>
	</tr>
</table>
</body>

</html>