<html>
<head>
	<title>Create a New Post</title>
</head>

<body>
	You can add a new posting here. <br><br>
	<form action="create" method="post">
		Item: <input type="text" name="item"><br><br>
		Price: <input type="number" name="price"><br><br>
		Location: <input type="text" name="location"><br><br>
		<input type = "submit" value="Add to Gregslist!">
	</form>
</body>

</html>