
<h1>Scooby Gang!</h1>
<img src="/scooby-doo_gang.png">

<form action="/guess" method="get">
	<label>Who do you think the villain is?
	<input type="text" name="villain">
	</label> 
	<input type="submit">
</form>
