<h1>Meet the dogs</h1>
<br>
<p> Find a puppy to adopt or give us your poor huddled unwanted mutts to offer to loving homes.</p>

<button><a href='/dogs/index.html.erb'>Shop for a puppy</a></button> <button><a href='/dogs/new.html.erb'>Offer a puppy</a></button>