<form action="/people" method="GET">
  <label>
    Name:
    <input type="text" name="name" />
  </label>

  <label>
    Favorite Food:
    <input type="text" name="food" />
  </label>

  <label>
    Happy?
    <input type="checkbox" name="is_happy" />
  </label>

  <button>Go!</button>
</form>

<form action="/ponies" method="post">
  <label>
    Size
    <input type="radio" name="size" value="L">
    <input type="radio" name="size" value="S">
  </label>

  <label>
    Size
    <input type="radio" name="size" value="L">
    <input type="radio" name="size" value="S">
  </label>
  
  <button>Submit</button>
</form>