<img src="http://www.kingofalltechnology.com/scoobydoogang.gif">
<br>

<form action="/guess" method="get">
	<label>Who do you think the villain is??? <input type="text" name="villain">
	</label>
	<input type="submit">
</form>