<!DOCTYPE html>
<html>
<head>
	<title>Scooby Doo and The Gang</title>
</head>
<body>
	<%= yield %>

	<button><a href="/about">See the Mystery Machine</a></button>
	<button><a href="/">Home</a></button>
	
</body>
</html>