<h1>The Scooby Doo Gang!</h1>
<p>We solve crimes and unmask people who pose as ghosts</p>
<img src="http://img3.wikia.nocookie.net/__cb20120718100443/hotwheels/images/2/26/The_Mystery_Machine-2.jpg" >