<% if @correct %>
  <h1>And I would have gotten away with it too, if it weren't for you meddling kids!</h1>
  <img src="https://pmcmovieline.files.wordpress.com/2012/08/scooby-doo.jpg?w=630">
<% else %>
  <h1>Guess again!</h1>
<% end %>
