<h1>Need a mystery solved?</h1>
<img src="http://blogs.discovermagazine.com/but-not-simpler/files/2014/03/6661567671_f97c0b14ff_o.jpg" >

<h2>Guess who the bad guy was!</h2>
<form action="/guess" method="get">
  Person: <input name="person" >
  <button>Submit</button>
</form>