<h2>New Photo.</h2>
<div class="row">
	<div class="col-xs-12">
		<form action="/entries" method="POST">
			<div class="form-group">
			    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
			</div>
			<div class="form-group">
			    <label for="author">author</label>
			    <input type="text" class="form-control" id="author" placeholder="Enter Author" name="author">
			</div>
			<div class="form-group">
		    	<label for="photo_url">Image Url</label>
		    	<input type="text" class="form-control" id="photo_url" placeholder="Photo Url" name="photo_url">
			</div>
			<div class="form-group">
		    	<label for="date_taken">Date</label>
		    	<input type="date" class="form-control" id="date_taken" placeholder="Date" name="date_taken">
			</div>
		  	<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
