<h1>Greg'sList</h1>

<form action="/add_item" method="post">
	Item Name: <input name="item" >
	<button>Submit</button>
</form>

<form action="/add_item" method="post">
	Price: <input name="price" >
	<button>Submit</button>
</form>

<form action="/add_item" method="post">
	Location: <input name="location" >
	<button>Submit</button>
</form>

<table style="width:100%">
<% @list.each do |item| %>
<tr>
<td><%= item.capitalize %></td>
<% end %>
</tr>
</table>