<html>
<body>
<center>

<h1>Welcome to Scooby Doo's Favorite Game</h1>

<img src="http://www.wingnuttoons.com/scbmatMM.jpg" alt="The Whole Gang">

<form action= "/guess" method="post">
	<label> Who do you think is the Villian???<input type="text" name="villian"></label>
		<button>Submit</button>
</form>


</center>
</body>
</html>