<h2>Didi, Destroyer of All Things Good and Pure</h2>
<p>Didi enjoys sitting on your tower until it overheats, attempting to eat your dinner, and getting underfoot. She hates the hair dryer, the vaccuum, the flute, loudly ringing phones, and every human on this earth.</p>
<%= image_tag "didi.jpg" %>
