<h2>Tom Waits </h2>
<p>Tom Waits likes to drink whiskey, smoke cigerettes, sing in a raspy voice, and...wait. That's the other one.This Tom Waits likes to loaf around and stare at you as if you are beneath him.</p>
<%= image_tag "tomwaits.jpg" %>
