<html>
<head>
	<title>Scooby Doo and Gang!</title>
</head>
<body>
	<div>
		<%= yield%>
	</div>

	<div>
		<button><a href="/">Home</a></button>
		<button><a href="/about">About</a></button>
	</div>

</body>
</html>