<h1>Superheros</h1>

 <ul>
 <% @superheros.each do |superhero| %>
   <li><%= link_to superhero.name, superhero_path(superhero) %></li>
 <% end %>
 </ul>

 <%= link_to 'Add a superhero', new_superhero_path %>