<h1>The Scooby Gang!</h1>
<img src="https://pmcvariety.files.wordpress.com/2013/08/scooby_doo.jpg?w=670&h=377&crop=1">

<form action="/guess" method="get">
  <label>Who do you think the villain is?
    <input type="text" name="villain">
  </label>
  <input type="submit">
</form>