<html>
<head>
  <title>Ninety-Nine Bottles</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>

  <h1>
    <%= @bottles %> bottles of beer on the wall, 
    <%= @bottles %> bottles of beer...
  </h1>
  
  <a href="/refrain/<%= @bottles %>">Keep Singing</a>

</body>
</html>