<footer class="footer">
  <small>
    <a href="https://generalassemb.ly/">This is a Sample Footer</a>
    by <a href="https://generalassemb.ly/">Bootstrap & Phil Gill</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://generalassemb.ly/">News</a></li>
    </ul>
  </nav>
</footer>