<html>
<head>
  <title>GregsList</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>

<h1>GregsList</h1>
	<table>
		<tr>
		  <th>Name</th>
		  <th>Price</th>
		  <th>Location</th>
		</tr>

  		<%= yield %>

	</table>
<br>
<button><a href="/">Home</a></button>
<button><a href="/new">New Item</a></button>
<button><a href="/deals">Items under $20</a></button>

</body>
</html>