<html>
<head>
  <title>GregsList</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>

<form action="/create" method="post">
	<label>Item: <input name="item" >
	<label>Price: <input name="price" ></label>
	<label>Location: <input name="location" ></label>
	<button>Submit</button>
</form>


</body>
</html>