body {
  font: 300 15px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 50px 10%;
  width: 80%;
}

h1 {
  font-weight: 300;
  line-height: 1.3;
}

a {
  background-color: #993300;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 0.25em 1em;
  text-decoration: none;
  transition: background-color 0.25s;
}

a:hover {
  background-color: #FF3300;
}

table, th, td {
   border: 1px solid black;
}

}

