<h1> Deals </h1>

<div> 
	<h1>Item:</h1>
	<% @list.select do |price < 21|
		<p><%= item.capitalize %></p>
		<p><%= price %></p>
		<p><%= location %></p>
	<% end %>
</div>

<div> 
	<h1>Price:</h1>
	<p></p>
</div>

<div> 
	<h1>Location:</h1>
	<p></p>
</div>