<img src="http://www.picgifs.com/clip-art/cartoons/scooby-doo/clip-art-scooby-doo-193082.jpg">

<form action="/guess" method="get">
 <label>Who do you think is the villain
 	<input type="text" name="villain">
 	<button>Enter</button>
 </label>
</form>