<h2>Welcome to Greg's List</h2>



<table class="table table-striped">
	<tr>
		<th>Item</th>
		<th>Price</th>
		<th>Location</th>		
	</tr>
		<% @list.each do |list_item| %>
	<tr>

		<td><%= list_item[:item] %> </td>
		<td><%= list_item[:price] %> </td>
		<td><%= list_item[:location] %> </td>

	</tr>	
		<% end %>
</table>


<form action= "/new" method="get">
	<button class="btn btn-primary">Add an Item</button>
</form>

<form action= "/deals" method="get">
	<button class="btn btn-default">View Deals</button>
</form>