<html>
<body>
	<h1>About Me!</h1>
	<div class"about">
		<p>My name is Jon and I am in the DC BEWD class.</p>
	</div>

	<div class"profile-pic">
		<%= image_tag "jon.png", {alt: "Jon Rojas"} %>
	</div>
</body>
</html>