<html>
<body>
	<h1>I run a podcast!</h1>
	<div class"about">
		<p>I have a podcast called 'Smart People Podcast'</p>
	</div>

	<div>
		<%= image_tag "spp.png", {alt: "Smart People Podcast", class: "spp"} %>
	</div>
</body>
</html>