<html>
<body>
	<h1>Welcome to my page!</h1>
	<div class"about">
		<p>Hello. Welcome to the greatest page in the world.</p>
	</div>

	
	<%= image_tag "great.jpg", {alt: "World's Greatest", class: "world-pic"} %>
	
</body>
</html>